{% extends 'hftchekin/base_student.html' %}
{% load static %}

{% block title %}
    <title>HFT Ckeck-In</title>
{% endblock title %}

{% block kontonav %}
    <a href="{% url 'studentkonto' %}" class="btn btn-outline-danger"><span
            class="fas fa-user-circle"></span>
        Konto</a>
{% endblock kontonav %}

{% block logoutnav %}
    <a href="#" class="btn btn-outline-danger">Logout <span class="fas fa-sign-out-alt"></span></a>
{% endblock logoutnav %}

{% block body %}
    <main>
        <section>
            <section>
                <div class="container mt-5">
                    <div class="row mt-5">
                        <div class="col mt-5">
                            <div class="card shadow-lg center" style="max-width: 35rem">
                                <div class="card-body">
                                    <h5 class="card-title">Check-In</h5>
                                    <hr>
                                    <form action="">
                                        <div class="form-floating mb-3">
                                            <input type="email" class="form-control" id="floatingInput"
                                                   placeholder="name@example.com" required>
                                            <label for="floatingInput">Prüfungs-ID</label>
                                        </div>
                                        <div class="form-floating">
                                            <input type="password" class="form-control input-field"
                                                   id="floatingPassword"
                                                   placeholder="Password" required>
                                            <span class="fas fa-eye" id="eyeLogin" onclick="showpw()"></span>
                                            <label for="floatingPassword">Passwort</label>
                                        </div>
                                        <div class="d-grid gap-2 mt-3">
                                            <button type="submit" class="btn btn-danger">Check-In</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </main>
{% endblock body %}