{% extends 'hftchekin/base_student.html' %}
{% load static %}

{% block title %}
    <title>HFT Formular</title>
{% endblock title %}

{% block body %}
    <main>
        <section>
            <div class="container">
                <div class="row">
                    <div class="col my-5">
                        <!-- PRÜFUNGSDATEN -->
                        <form action="" method="POST">
                            <div class="card shadow-sm">
                                <div class="card-header">Prüfungsdaten</div>
                                <div class="card-body">
                                    <p class="card-text">Bitte füllen Sie die erforderlichen Felder aus.</p>
                                    <div class="row g-3">
                                        <div class="col-md-6">
                                            <label for="fach" class="form-label">Prüfungsfach</label>
                                            <input type="text" class="form-control" id="fach"
                                                   placeholder="z.B. Mathematik" required>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="semester" class="form-label">Semester</label>
                                            <input type="text" class="form-control" id="semester"
                                                   placeholder="SoSe 2021" required>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row g-3">
                                        <div class="col-md-6">
                                            <label for="pruefer" class="form-label">Prüfer</label>
                                            <input type="text" class="form-control" id="pruefer"
                                                   placeholder="z.B. Prof. Dr. Stefan Knauth" required>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="datum" class="form-label">Datum</label>
                                            <input type="date" class="form-control" id="datum" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <!-- DATEN DES STUDIERENDEN -->
                            <div class="card shadow-sm">
                                <div class="card-header">Daten des Studierenden</div>
                                <div class="card-body">
                                    <p class="card-text">Bitte füllen Sie die erforderlichen Felder aus.</p>
                                    <div class="row g-3">
                                        <div class="col-md-6">
                                            <label for="vorname" class="form-label">Vorname</label>
                                            <input type="text" class="form-control" id="vorname"
                                                   placeholder="z.B. Max" required>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="nachname" class="form-label">Nachname</label>
                                            <input type="text" class="form-control" id="nachname"
                                                   placeholder="z.B. Mustermann" required>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row g-3">
                                        <div class="col-md-6">
                                            <label for="matrikelnummer" class="form-label">Matrikelnummer</label>
                                            <input type="text" class="form-control" id="matrikelnummer"
                                                   placeholder="z.B. 123456" required>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="studiengang" class="form-label">Studiengang</label>
                                            <input type="text" class="form-control" id="studiengang"
                                                   placeholder="z.B. Wirtschaftsinformatik" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <!-- Beginn/Checkin -->
                            <div class="checkbox-div text-center">
                                <input class="form-check-input checkbox-input" type="checkbox" id="agb" required>
                                <label class="form-check-label checkbox-label" for="agb">
                                    Hiermit bestätige ich die Teilnahme zur Prüfung
                                </label>
                                <br>
                                <input class="form-check-input checkbox-input" type="checkbox" id="datenschutz"
                                       required>
                                <label class="form-check-label checkbox-label" for="datenschutz">
                                    Datenschutz zustimmen
                                </label>
                                <br>
                                <button type="submit" class="btn btn-outline-danger mt-2">Bestätigen</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!-- Heutiges Datum im Textfeld -->
    <script>
        document.getElementById('datum').valueAsDate = new Date();
    </script>
{% endblock body %}