{% extends 'hftchekin/base_login.html' %}
{% load static %}

{% block title %}
    <title>HFT Login</title>
{% endblock title %}

{% block body %}

    <!-- Hintergrundbild - GebauedeURL -->
    <style>
        .bg {
            background-image: url("{% static 'img/Gebaeude.jpg' %}");
        }
    </style>
    <!-- Hintergrundbild - Einfügen -->
    {% block pic %}
        <body class="bg">
    {% endblock pic %}

    <main>
        <section class>
            <div class="container mt-5">
                <div class="row mt-5">
                    <div class="col mt-5">
                        <div class="card shadow-lg center" style="max-width: 35rem">
                            <div class="card-body">
                                <h5 class="card-title">Login</h5>
                                <hr>
                                  <form method="POST" action="">
                                      {% csrf_token %}
                                    <div class="form-floating mb-3">
                                        <input type="text"  name="username" class="form-control" id="floatingInput"
                                               placeholder="82drpa1bwi" required>
                                        <label for="floatingInput">Benutzername</label>
                                    </div>
                                    <div class="form-floating">
                                        <input type="password" name="password" class="form-control input-field" id="floatingPassword"
                                               placeholder="Password" required>
                                        <!--  <span class="fas fa-eye" id="eyeLogin" onclick="showpw()"></span>     -->
                                        <label for="floatingPassword">Passwort</label>
                                    </div>
                                    <div class="d-grid gap-2 mt-3">
                                        <button type="submit" class="btn btn-danger">Login</button>
                                    </div>
                                </form>
                                <br>
                                <small>
                                    <a href="{% url 'registrierung' %}" class="text-decoration-none">
                                        <span class="fas fa-user-plus"></span> Noch nicht registriert?
                                    </a>
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock body %}



