{% extends 'hftchekin/base_professor.html' %}
{% load static %}

{% block title %}
    <title>HFT Konto</title>
{% endblock title %}

{% block homenav %}
    <a href="{% url 'professorhome' %}" class="btn btn-outline-danger"><span
            class="fas fa-home"></span>
        Home</a>
{% endblock homenav %}

{% block body %}
    <main>
        <section>
            <div class="container">
                <div class="row">
                    <div class="col my-5">
                        <form action="" method="POST">
                            <!-- Daten des Professors/Dozenten -->
                            <div class="card shadow-sm">
                                <div class="card-header">Kontoübersicht</div>
                                <div class="col my-5">
                                    <div class="card shadow-lg center" style="max-width: 35rem">
                                        <div class="card-body text-center">
                                            <label for="titel" class="form-label">Titel</label>
                                            <input type="text" class="form-control" id="titel"
                                                   disabled>
                                        </div>
                                        <div class="card-body text-center">
                                            <label for="vorname" class="form-label">Vorname</label>
                                            <input type="text" class="form-control" id="vorname"
                                                   disabled>
                                        </div>
                                        <div class="card-body text-center">
                                            <label for="nachname" class="form-label">Nachname</label>
                                            <input type="text" class="form-control" id="nachname"
                                                   disabled>
                                        </div>
                                        <div class="card-body text-center">
                                            <label for="mitarbeiternummer" class="form-label">Mitarbeiternummer</label>
                                            <input type="text" class="form-control" id="mitarbeiternummer"
                                                   disabled>
                                        </div>
                                        <div class="card-body text-center">
                                            <label for="email" class="form-label">Email</label>
                                            <input type="text" class="form-control" id="email"
                                                   disabled>
                                        </div>
                                        <div class="card-body text-center">
                                            <label for="password" class="form-label">Passwort</label>
                                            <input type="text" class="form-control" id="floatingPassword"
                                                   disabled>
                                            <div class="form-floating">
                                            <span class="fas fa-eye " id="eyeKonto"
                                                  onclick="showpw()"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="checkbox-div my-3">
                                <form>
                                    <input type="button" class="btn btn-outline-danger my-3" value="Zurück"
                                           onclick="history.back()">
                                </form>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!-- Passwort-Funktion -->
    <script>
        function showpw() {
            let x = document.getElementById("password");
            let icon = document.getElementById('#eye');
            if (x.type === "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }
        }
    </script>
{% endblock body %}