{% extends 'hftchekin/base_professor.html' %}
{% load crispy_forms_filters %}
{% load static %}

{% block title %}
    <title>HFT Prüfungstabelle</title>
{% endblock title %}

{% block homenav %}
    <a href="{% url 'professorhome' %}" class="btn btn-outline-danger"><span
            class="fas fa-home"></span>
        Home</a>
{% endblock homenav %}

{% block kontonav %}
    <a href="{% url 'professorkonto' %}" class="btn btn-outline-danger"><span class="fas fa-user-circle"></span>
        Konto</a>
{% endblock kontonav %}

{% block body %}
    <main>
        <section>
            <div class="container">
                <div class="row">
                    <div class="col my-5">
                        <p>
                            <button class="btn btn-danger" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseExample" aria-expanded="false"
                                    aria-controls="collapseExample">
                                Filter
                            </button>
                        </p>
                        <div class="collapse" id="collapseExample">
                            <div class="card card-body" style="max-width: 30rem">
                                <form method="GET">
                                    {% csrf_token %}
                                    {{ pruefungen_filter.form | crispy }}
                                    <button type="submit" class="btn btn-danger m-2"><span
                                            class="fas fa-filter"></span>
                                        Filtern
                                    </button>
                                </form>
                            </div>
                        </div>
                        <br>
                        <h1>Prüfungstabelle</h1>
                        <br>
                        <div class="card shadow-sm">
                            <!-- Prüfungstabelle -->
                            <div class="table-responsive">
                                <table class="table table-hover table-striped">
                                    <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Modul</th>
                                        <th scope="col">Semester</th>
                                        <th scope="col">Prüfer/in</th>
                                        <th scope="col">Raum</th>
                                        <th scope="col">Dauer</th>
                                        <th scope="col">Datum</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for i in pruefungen %}
                                        <tr class="table-row">
                                            <td>{{ i.pid }}</td>
                                            <td>{{ i.modul }}</td>
                                            <td>{{ i.semester }}</td>
                                            <td>{{ i.pruefer }}</td>
                                            <td>{{ i.raumnummer }}</td>
                                            <td>{{ i.dauer }}</td>
                                            <td>{{ i.datum }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="checkbox-div my-3">
                            <input type="button" class="btn btn-outline-danger my-3" value="Zurück"
                                   onclick="history.back()">
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock body %}