{% extends 'hftchekin/base_professor.html' %}
{% load static %}

{% block title %}
    <title>HFT Prüfungstabelle</title>
{% endblock title %}

{% block homenav %}
    <a href="{% url 'professorhome' %}" class="btn btn-outline-danger"><span
            class="fas fa-home"></span>
        Home</a>
{% endblock homenav %}

{% block body %}
    <main>
        <section>
            <div class="container">
                <div class="row">
                    <div class="col my-5">
                        <form action="" method="POST">
                            <h1>Prüfungstabelle</h1>
                            <br>
                            <div class="card shadow-sm">
                                <!-- Prüfungstabelle -->
                                <table class="table table-hover table-striped">
                                    <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Modul</th>
                                        <th scope="col">Semester</th>
                                        <th scope="col">Prüfer/in</th>
                                        <th scope="col">Dauer</th>
                                        <th scope="col">Datum</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>83123</td>
                                        <td>Pervasive Computing</td>
                                        <td>SoSe21</td>
                                        <td>Herr Knauth</td>
                                        <td>90min</td>
                                        <td>28.06.2021</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="checkbox-div text-left">
                                <br>
                                <form>
                                    <input type="button" class="btn btn-outline-danger mt-3" value="Zurück"
                                           onclick="history.back()">
                                </form>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock body %}