{% extends 'hftchekin/base_student.html' %}
{% load static %}

{% block title %}
    <title>HFT Timer</title>
{% endblock title %}

{% block body %}
    <main>
        <section>
            <div class="container">
                <div class="row">
                    <div class="col my-5">
                        <!-- PRÜFUNGSDATEN -->
                        <div class="card shadow-sm">
                            <div class="card-header">Prüfungsdaten</div>
                            <div class="card-body">
                                <div class="row g-3">
                                    <div class="col-md-6">
                                        <label for="fach" class="form-label">Prüfungsfach</label>
                                        <input type="text" class="form-control" id="fach"
                                               placeholder="{{ pruefung.modul }}" disabled>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="semester" class="form-label">Semester</label>
                                        <input type="text" class="form-control" id="semester"
                                               placeholder="{{ pruefung.semester }}" disabled>
                                    </div>
                                </div>
                                <br>
                                <div class="row g-3">
                                    <div class="col-md-6">
                                        <label for="pruefer" class="form-label">Prüfer</label>
                                        <input type="text" class="form-control" id="pruefer"
                                               placeholder="{{ pruefung.professor }}" disabled>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="datum" class="form-label">Datum</label>
                                        <input type="date" class="form-control" id="datum" disabled>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <!-- Stopuhr -->
                        <div class="card shadow-sm">
                            <div class="card-header">Zeit</div>
                            <div class="col my-5">
                                <div class="card shadow-lg center" style="max-width: 35rem">
                                    <!-- TIME -->
                                    <div class="card-body text-center">
                                        <div id="time" class="colored digit text-nowrap font-digit"
                                             style="font-size: 76px;"> 00:00:00
                                        </div>
                                    </div>
                                    <div class="checkbox-div text-center my-2">
                                        <!--
                                        <button type="button" id="start_btn" onclick="start()"
                                                class="btn btn-outline-danger mt-2">
                                            Start
                                        </button>
                                        -->
                                        <!-- Button für stoppen der Zeit ersetzt siehe Zeile 76-79-->
                                        <!--
                                        <button type="button" id="pause_btn" onclick="pause()"
                                                class="btn btn-outline-danger mt-2">
                                            Stop
                                        </button>
                                        -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <form action="{% url 'geschriebenuebersicht' %}" method="POST">
                            {% csrf_token %}
                            <!-- Fertig/Checkout & Timer stoppen-->
                            <!-- Timer stoppen testen: type="submit" zu type="button" ändern-->
                            <div class="text-center">
                                <button type="submit" onclick="pause()" id="pause_btn"
                                        class="btn btn-outline-danger mt-2">Fertig
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!-- Heutiges Datum im Textfeld -->
    <script>
        document.getElementById('datum').valueAsDate = new Date();
    </script>

    <!-- Stopuhr Start/Stop-->
    <script>
        const timer = document.querySelector('#time');
        const start_btn = document.querySelector('#start_btn');
        const pause_btn = document.querySelector('#pause_btn');

        let time = 0,
            interval;

        function showTime() {
            time += 1;
            timer.innerHTML = toHHMMSS(time);
        }

        function start() {
            interval = setInterval(showTime, 1000);
            hideBtn([start_btn]);
            showBtn([pause_btn]);
        }

        <!-- Stopuhr beim Aufruf der Seite starten-->
        window.onload = start();

        function pause() {
            if (interval) {
                clearInterval(interval);
                interval = null;
                hideBtn([start_btn, pause_btn]);
            } else {
                interval = setInterval(showTime, 1000);
            }
        }

        function toHHMMSS(time) {
            let hours = Math.floor(time / 3600);
            let minutes = Math.floor((time - hours * 3600) / 60);
            let seconds = time - hours * 3600 - minutes * 60;

            hours = `${hours}`.padStart(2, '0');
            minutes = `${minutes}`.padStart(2, '0');
            seconds = `${seconds}`.padStart(2, '0');

            return hours + ':' + minutes + ':' + seconds;
        }

        <!--
        function showBtn(btnArr) {
            btnArr.forEach((btn) => (btn.style.display = 'inline-block'));
        }
        -->
        <!--
        function hideBtn(btnArr) {
            btnArr.forEach((btn) => (btn.style.display = 'none'));
        }
        -->
    </script>
{% endblock body %}